configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Adwaita";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    disable-history: false;
    hide-scrollbar: true;
    
}
@theme "/usr/share/rofi/themes/glue_recvim.rasi"
